*{
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-family: 'Lato', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../Imagenes/Portafolio/GaiserAuto.jpg);
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
}

.cuerpo{
    padding: 40%;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 170px;
    
}



.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

#Titulos_Paginas_NoPrincipales{
    font-size: 62px;
    font-weight: 700;
    color:#e43f5a;
    text-align: center;
    padding: 50px;
}

@media (max-width: 1210px){
    .col{
        width: 40%;
    }
    .container{
        display: block;
    }
    .container .columna{
        display: inline;
        text-align: center;
        width: 80%;
    }

}